# VITE_APPWRITE_URL = "https://sgp.cloud.appwrite.io/v1"

# VITE_APPWRITE_PROJECT_ID = "6990012f001c7c15ef22"
# VITE_APPWRITE_DATABASE_ID = "699002d3003b57a1d353"
# VITE_APPWRITE_COLLECTION_ID = "articles"
# VITE_APPWRITE_BUCKET_ID = "699006a0002764e3a008"